*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color:#0d0f30;
    color:#cdd0cc;
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    /*background: #fff; remove this later*/
    margin:100px auto 20px;
    padding: 40px 30px 70px;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin-top: 15px; 
    font-size:13px;
}

#app-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-evenly;
}
/* #task-due-date{
    background-color: white;
} */

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-task-button{
    background-color:#726de0;
    color:#0d0f30;
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 10px;    
    cursor: pointer;
}

#task-filter-options {
    background-color:#726de0;
    color:#0d0f30;
    padding: 14px;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 10px;    
    cursor: pointer;
}

.task-item {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: #cdd0cc;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.task-item.completed {
    color: #555;
    text-decoration: line-through;
}

.actions-container{
    display: flex;
    gap: 10px;
}

.actions-container button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 5px;
}


#modal-overlay {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

#modal-overlay.active {
    display: flex;
}

#modal-content {
    background: #10123a; 
    padding: 20px;
    border-radius: 10px;
    width: 90%; 
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

#modal-content h5 {
    margin: auto; 
    text-align: center; 
}

#modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modal-content input,
#modal-content select,
#modal-content button {
    padding: 10px;
    border-radius: 5px;
    background-color: #10123a;
    font-size: 16px;
    border: 1px solid #726de0;
    color: #cdd0cc;
}

#modal-content input:hover,
#modal-content select:hover,
#modal-content button:hover,
#modal-content input:focus,
#modal-content select:focus{
    border: 1px solid #f025b3;
    outline: #f025b3;
}

#modal-content button {
    background-color:#10123a;
    color: #cdd0cc;
    border: none;
    cursor: pointer;
}

/*#modal-content button:hover {
    background-color: #0056b3; /* Darker blue on hover 
}*/

#close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#close-btn:hover {
    color: #000; 
}

