*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color:#0d0f30;
    color:#cdd0cc;
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    /*background: #fff; remove this later*/
    margin:100px auto 20px;
    padding: 40px 30px 70px;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin-top: 15px; 
    font-size:13px;
}

#app-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-evenly;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-task-button{
    background-color:#726de0;
    color:#0d0f30;
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 10px;    
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 14px;
    padding: 12px 0px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 10%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: -30px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}